/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto,
     "Helvetica Neue", sans-serif;
     background-color: #fafafa;
    //  direction: rtl;
     }

     .content {
        align-items: center;
        
        flex-direction: column;
        padding: 16px 50px;
     }